.snake-container {
  width: 100%;
  height: 5rem;
}
.snake-container img {
  width: 15rem;
  height: 7rem;
  position: absolute;
}

/* .snake-container img:hover {
  right:0;
} */

.snake-container {
  background-color: #d5f8ec;
  position: relative;
  text-align: center;
}

