.home_container {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
}

.home_menu_logo {
  margin: auto;
  text-align: center;
  vertical-align: middle;
  padding: 3rem 0px;
  background-color: #e7ece9;
}

.home_menu_logo img {
  width: 8rem;;
  height: 8rem;
}

.home_menu {
  list-style: none;
  text-align: center;
  padding: 3rem 0px;
}

.home_menu li {
  width: 20%;
  margin: auto;
  padding: 1.5rem 0px;
}